@use 'sass:color';
@import 'bootstrap/scss/mixins';

@include color-mode(light) {
  .text-contrast {
    color: $dark;
  }

  .text-white-dark {
    color: $white;
  }

  .text-light {
    color: $light !important;
  }

  .text-light-white {
    color: $light !important;
  }

  .text-dark-primary {
    color: $dark;
  }

  .fill-light {
    fill: $light;
  }

  .fill-primary,
  .fill-1 {
    fill: $primary;
  }

  .fill-strong-contrast,
  .fill-2 {
    fill: $white;
    stop-color: $white;
  }

  .fill-contrast {
    fill: $white;
  }

  .fill-body-color {
    fill: $body-color;
  }

  .fill-body-bg {
    fill: $body-bg-light;
  }

  .stroke-body-bg {
    stroke: $body-bg-light;
  }

  .stroke-bg {
    stroke: $body-bg;
  }

  .stroke-primary-bg {
    stroke: $primary;
  }

  .stroke-light {
    stroke: $light;
  }

  .stroke-white-primary {
    stroke: $white;
  }

  .bg-light {
    background-color: $light !important;
  }

  .card {
    &.bg-primary {
      color: $white;
    }
    & .card-header {
      background-color: $card-bg;
    }
    & .card-footer {
      background-color: $card-bg;
    }
  }

  .list-group-item,
  .dropdown-menu {
    box-shadow: none;
  }

  span.span-close-svg {
    cursor: pointer;
    border-radius: $border-radius;
    & svg path {
      transition: all $transition-time ease;
    }
    &:hover, &:focus-visible {
      outline: none;
      & svg path {
        stroke: color.adjust($light, $lightness: -15%);;
      }
    }
  }

  .btn-rounded {
    &.btn.btn-primary,
    &.bg-primary {
      color: $white;
      &:hover {
        box-shadow: 0px 2px 4px 0px $gray-400;
      }
    }
  }

  .btn-group {
    & button.btn-actions {
      color: $white;
    }
  }

  .dropdown {
    & .dropdown-item {
      color: $dark;
      &.active,
      &:active,
      &:focus,
      &:hover {
        color: $primary;
      }
    }
  }

  .input-group {
    & .form-control {
      color: $dark;
      background-color: $body-bg;
      &:focus {
        border-color: $border-color;
      }
      &::-webkit-input-placeholder {
        color: $light;
      }
      &:-moz-placeholder {
        color: $light;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: $light;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: $light;
      }
    }
    & .form-control-addon {
      background-color: $body-bg;
      &:focus {
        border-color: $border-color;
      }
    }
  }

  .inner-box-shadow {
    box-shadow: 0px 4px 8px 0px $gray-400;
  }

  & .tooltip {
    box-shadow: 0px 4px 8px 0px rgba($gray-400, 0.16);
    & .tooltip-inner {
      border: 1px solid $light-dark;
      color: $dark;
      background-color: $white;
      & svg path {
        fill: $dark;
      }
    }
  }

  & .recharts-surface {
    & >path:not(.recharts-legend-icon) {
      fill: $body-bg-light;
    }
  }

  & .react-datepicker-popper {
    & .react-datepicker__triangle {
      fill: $body-bg;
      color: $body-bg;
      stroke: $card-border-color;
    }
    & .react-datepicker {
      border-color: $card-border-color;
      background-color: $body-bg;
      & .react-datepicker__header {
        background-color: $body-bg;
        border-bottom: $card-border-width solid $card-border-color;
        & .react-datepicker__current-month, & .react-datepicker-time__header, & .react-datepicker-year-header,
        & .react-datepicker__day-names {
          color: $dark;
          & .react-datepicker__day-name {
            color: $dark;
          }
        }
      }
      & .react-datepicker__navigation-icon::before {
        border-color: $dark;
      }
      & .react-datepicker__month-container {
        & .react-datepicker__day {
          color: $dark;
          &:hover {
            background-color: $body-bg-light;
          }
          &--disabled {
            color: $light;
          }
        }
      }
    }
  }

} // CLOSE FOR LIGHT MODE
