@use 'sass:color';
@use '../../../styles/constants' as *;

.alert {
  padding: 0.75rem;
  &.alert-danger,
  &.alert-success,
  &.alert-warning {
    transition: all $transition-time ease;
  }
  &.alert-danger .btn-sm-svg.btn-svg-copy {
    & svg {
      & path {
        stroke: $danger;
      }
      &:hover {
        & path {
          stroke: color.adjust($danger, $lightness: -25%);
        }
      }
    }
  }
  &.alert-success .btn-sm-svg.btn-svg-copy {
    & svg {
      & path {
        stroke: $success;
      }
      &:hover {
        & path {
          stroke: color.adjust($success, $lightness: -25%);
        }
      }
    }
  }
  & .text-status {
    max-height: 8rem;
    overflow: hidden;
  }
  & .btn-sm-svg.btn-svg-copy {
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    cursor: pointer;
  }
}
