@use '../../../../styles/constants' as *;

.volume-graph {
  width: 100%;
  height: 100%;
}

.recharts-wrapper {
  opacity: 0.85;
  & .recharts-sector {
    stroke-width: 4px;
    stroke: $white;
  }
}

.bkpr-tooltip {
  border: 1px solid $light-dark;
  color: $dark;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba($gray-400, 0.16);
}

.volume-graph-legend {
  padding-top: 2rem;
  width: 100%;
  justify-content: center;
  & .badge:empty {
    display: flex;
  }
  & .legend-color {
    width: 14px;
    height: 14px;
  }
  & .legend-label {
    max-width: 5rem;
  }
}

@include color-mode(dark) {
  .recharts-wrapper {
    opacity: 1;
    & .recharts-sector {
      stroke: $card-bg-dark;
    }
  }
  .bkpr-tooltip {
    border: 1px solid $card-bg-dark;
    color: $light-dark;
    background-color: $tooltip-bg-dark;
  }
  .volume-graph-legend {
    color: $light-dark;
  }
}
