version: "3.8"

services:
  bitcoind:
    image: lncm/bitcoind:v24.0@sha256:db19fe46f30acd3854f4f0d239278137d828ce3728f925c8d92faaab1ba8556a
    command:
      - -${BITCOIN_NETWORK}
      - -fallbackfee=0.0002
      - -rpcbind=0.0.0.0
      - -rpcallowip=0.0.0.0/0
      - -rpcauth=user:d58ddb294b3a3812ff5fee50d6f24b29$19212992730deeaf6e596d471260a966b011a00446d45b193c94e79c4f4a1266
    restart: on-failure
    volumes:
      - ${PWD}/data/bitcoin:/root/.bitcoin
    networks:
      networkcln:
        ipv4_address: ${BITCOIN_NODE_IP}

  lightningd:
    image: lncm/clightning:v22.11.1@sha256:e9939341ca6736566e0499db5a339b25140d6e77fb16ab202c217112f0df9b77
    command:
      - --bitcoin-rpcconnect=${BITCOIN_NODE_IP}
      - --bitcoin-rpcuser=${APP_BITCOIN_RPC_USER}
      - --bitcoin-rpcpassword=${APP_BITCOIN_RPC_PASS}
      - --bind-addr=${LIGHTNING_IP}:9735
      - --network=${BITCOIN_NETWORK}
      - --database-upgrade=true
      # - --grpc-port=${LIGHTNING_GRPC_PORT}
      - --experimental-websocket-port=${LIGHTNING_WEBSOCKET_PORT}
      - --experimental-offers
    restart: on-failure
    volumes:
      - ${PWD}/data/lightningd:${LIGHTNING_PATH}
    ports:
      - ${LIGHTNING_WEBSOCKET_PORT}:${LIGHTNING_WEBSOCKET_PORT}
    networks:
      networkcln:
        ipv4_address: ${LIGHTNING_IP}

  lightningd-2:
    image: lncm/clightning:v22.11.1@sha256:e9939341ca6736566e0499db5a339b25140d6e77fb16ab202c217112f0df9b77
    command:
      - --bitcoin-rpcconnect=${BITCOIN_NODE_IP}
      - --bitcoin-rpcuser=${APP_BITCOIN_RPC_USER}
      - --bitcoin-rpcpassword=${APP_BITCOIN_RPC_PASS}
      - --bind-addr=170.21.22.13:9736
      - --network=${BITCOIN_NETWORK}
      - --database-upgrade=true
      # - --grpc-port=${LIGHTNING_GRPC_PORT}
      - --experimental-websocket-port=2116
      - --experimental-offers
    restart: on-failure
    volumes:
      - ${PWD}/data/lightningd-2:${LIGHTNING_PATH}
    ports:
      - 2116:2116
    networks:
      networkcln:
        ipv4_address: 170.21.22.13

  application:
    build:
      dockerfile: ./Dockerfile
      context: ./
    # image: ghcr.io/elementsproject/cln-application:0.0.2@sha256:6188255f56a679b9e5785036ab50ad1d2c869568c2f29d07f0c482917c7442e9
    depends_on:
      - bitcoind
      - lightningd
    environment:
      APP_PORT: ${APP_PORT}
      LIGHTNING_IP: ${LIGHTNING_IP}
      BITCOIN_NETWORK: ${BITCOIN_NETWORK}
      APP_IP: ${APP_IP}
      LIGHTNING_GRPC_PORT: ${LIGHTNING_GRPC_PORT}
      LIGHTNING_REST_PORT: ${LIGHTNING_REST_PORT}
      LIGHTNING_WEBSOCKET_PORT: ${LIGHTNING_WEBSOCKET_PORT}
      LIGHTNING_CERTS_DIR: ${LIGHTNING_CERTS_DIR}
      HIDDEN_SERVICE_URL: http://${HIDDEN_SERVICE_URL}
      LIGHTNING_PATH: ${LIGHTNING_PATH}
      COMMANDO_CONFIG: ${COMMANDO_CONFIG}
      APP_CONFIG_DIR: ${APP_CONFIG_DIR}
      APP_MODE: "production"
      DEVICE_DOMAIN_NAME: ${DEVICE_DOMAIN_NAME}
      LOCAL_HOST: http://${DEVICE_DOMAIN_NAME}
      CA_CERT: ${LIGHTNING_PATH}/bitcoin/ca.pem
      CLIENT_KEY: ${LIGHTNING_PATH}/bitcoin/client-key.pem
      CLIENT_CERT: ${LIGHTNING_PATH}/bitcoin/client.pem
    command: npm run start
    restart: on-failure
    volumes:
      - ${PWD}/data/lightningd:${LIGHTNING_PATH}
      - ${PWD}/data/c-lightning-rest/certs:/c-lightning-rest/certs
      - ${PWD}/data/app:/data/app
    ports:
      - "${APP_PORT}:${APP_PORT}"
    networks:
      networkcln:
        ipv4_address: ${APP_IP}

  application-2:
    build:
      dockerfile: ./Dockerfile
      context: ./
    # image: ghcr.io/elementsproject/cln-application:0.0.2@sha256:6188255f56a679b9e5785036ab50ad1d2c869568c2f29d07f0c482917c7442e9
    depends_on:
      - bitcoind
      - lightningd
    environment:
      APP_PORT: 2113
      LIGHTNING_IP: 170.21.22.13
      BITCOIN_NETWORK: ${BITCOIN_NETWORK}
      APP_IP: 170.21.22.15
      LIGHTNING_GRPC_PORT: ${LIGHTNING_GRPC_PORT}
      LIGHTNING_REST_PORT: ${LIGHTNING_REST_PORT}
      LIGHTNING_WEBSOCKET_PORT: 2116
      LIGHTNING_CERTS_DIR: ${LIGHTNING_CERTS_DIR}
      HIDDEN_SERVICE_URL: http://${HIDDEN_SERVICE_URL}
      LIGHTNING_PATH: ${LIGHTNING_PATH}
      COMMANDO_CONFIG: ${COMMANDO_CONFIG}
      APP_CONFIG_DIR: ${APP_CONFIG_DIR}
      APP_MODE: "production"
      DEVICE_DOMAIN_NAME: ${DEVICE_DOMAIN_NAME}
      LOCAL_HOST: http://${DEVICE_DOMAIN_NAME}
      CA_CERT: ${LIGHTNING_PATH}/bitcoin/ca.pem
      CLIENT_KEY: ${LIGHTNING_PATH}/bitcoin/client-key.pem
      CLIENT_CERT: ${LIGHTNING_PATH}/bitcoin/client.pem
    command: npm run start
    restart: on-failure
    volumes:
      - ${PWD}/data/lightningd-2:${LIGHTNING_PATH}
      - ${PWD}/data/c-lightning-rest/certs:/c-lightning-rest/certs
      - ${PWD}/data/app-2:/data/app
    ports:
      - 2113:2113
    networks:
      networkcln:
        ipv4_address: 170.21.22.15

networks:
  networkcln:
    driver: bridge
    ipam:
      config:
        - subnet: 170.21.22.0/16
          gateway: 170.21.22.0
