@use '../../../styles/constants' as *;

.toast-container {
  & .toast {
    box-shadow: 0px 8px 16px 0px rgba($dark, 0.2);
    border-radius: 0.5rem;
    border: 1px solid $light;
    &.opaque {
      background-color: rgba($body-bg, 1);
    }
    & .message-type-box {
      background-color: $light;
      border-top-left-radius: 0.35rem;
      border-bottom-left-radius: 0.35rem;
    }

    span.btn-toast-close {
      padding: 0.5rem;
      cursor: pointer;
      & svg {
        width: 0.75rem;
        height: 0.75rem;
        & path {
          transition: all $transition-time ease;
        }
      }
      &:hover {
        & svg path {
          stroke: darken($light, 15%);
        }
      }
    }

    &[data-bg='success'] {
      border: 1px solid $success;

      & .message-type-box {
        background-color: $success;
      }
    }

    &[data-bg='danger'] {
      border: 1px solid $danger;

      & .message-type-box {
        background-color: $danger;
      }
    }

    &[data-bg='warning'] {
      border: 1px solid $warning;

      & .message-type-box {
        background-color: $warning;
      }
    }

    &[data-bg='primary'] {
      border: 1px solid $primary;

      & .message-type-box {
        background-color: $primary;
      }
    }
  }
}

@include color-mode(dark) {
  & .toast {
    box-shadow: 0px 8px 16px 0px rgba($light, 0.2);
    &.opaque {
      background-color: rgba($body-bg-dark, 1);
    }
    span.btn-toast-close {
      &:hover {
        & svg path {
          stroke: lighten($light-dark, 15%);
        }
      }
    }
  }
}
