@use 'sass:color';
@use '../../../styles/constants' as *;
@import 'bootstrap/scss/mixins';

.toggle {
  color: $dark;
  font-weight: 600;
  border: 1px solid $gray-300;
  border-radius: 0.5rem;
  height: 2rem;
  width: 6.5rem;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background: $white;
  display: flex;
  justify-content: flex-start;

  & .toggle-bg-text {
    height: 100%;
  }

  & .toggle-switch {
    margin-top: -1px;
    position: absolute;
    height: 105%;
    width: calc(55%);
    color: $white;
    font-weight: 600;
    background: $primary;
    &.toggle-left {
      border-color: $primary;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    &.toggle-right {
      border-color: $primary;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    &:hover {
      background-color: color.adjust($primary, $lightness: 5%);
      border-color: color.adjust($primary, $lightness: 5%);
    }
  }
  &[data-isswitchon='true'] {
    justify-content: flex-end;
  }
}

@include color-mode(dark) {
  .toggle {
    color: $white;
    background: color.adjust($card-bg-dark, $lightness: 10%);

    & .toggle-switch {
      color: $card-bg-dark;
    }
  }
}
