@use '../../../styles/constants' as *;

.qr-container {
  cursor: zoom-in;
}

.dropdown.dropdown-network {
  & .dropdown-toggle.btn.btn-secondary {
    color: $dark;
    background-color: $body-bg;
    border-color: $border-color;
    box-shadow: 0px 1px 2px rgba($dark-blue, 0.05);
    background-image: none;
    padding: 0.675rem;
    border-radius: 0.375rem !important;
  }
  & .dropdown-menu {
    font-size: 0.875rem;
    width: 100%;
    & .dropdown-item {
      color: $dark;
      &.active,
      &:active,
      &:focus,
      &:hover {
        color: $primary;
      }
    }
  }
}

@include color-mode(dark) {
  .dropdown.dropdown-network {
    & .dropdown-toggle.btn.btn-secondary {
      color: $white;
      background-color: $form-ctrl-bg-dark;
      border-color: $border-color-dark;
    }
    & .dropdown-menu {
      & .dropdown-item {
        color: $light-dark;
        &.active,
        &:active,
        &:focus,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
