@import '../../../styles/constants.scss';

.fiat-box-span {
  & .svg-currency {
    fill: $light;
  }
  & .svg-inline--fa {
    display: inline-block;
    height: 0.6rem;
    vertical-align: -1px;
    &.fa-lg {
      height: 0.75rem;
    }
  }
}

@include color-mode(dark) {
  .fiat-box-span {
    & .svg-currency {
      fill: $light-dark;
    }
  }
}
