@use '../../../../styles/constants' as *;

.bkpr-tooltip {
  border: 1px solid $light-dark;
  color: $dark;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px 0px rgba($gray-400, 0.16);
}

.sats-flow-lagend-bullet {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border-radius: 2px;
}

.sats-flow-graph {
  width: 100%;
  height: 100%;
}

.series-net-inflow.recharts-layer {
  & path.recharts-curve.recharts-line-curve {
    stroke-width: 1;
    stroke: var(--bs-body-color);
  }
  & .recharts-line-dots circle.recharts-dot.recharts-line-dot {
    r: 2;
    stroke: var(--bs-body-color);
  }
}

@include color-mode(dark) {
  .bkpr-tooltip {
    border: 1px solid $card-bg-dark;
    color: $light-dark;
    background-color: $tooltip-bg-dark;
  }
}
