@use 'sass:color';
@use '../../../styles/constants' as *;

.channel-scroll-container {
  max-height: 53vh;
  & .progress {
    height: 6px;
  }
  & .btn-sm-svg.btn-svg-copy {
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    cursor: pointer;
    &:hover {
      svg path {
        stroke: color.adjust($primary, $lightness: -10%);
      }
    }
  }
  & .btn-sm-svg.btn-svg-open {
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    cursor: pointer;
    &:hover {
      svg path {
        fill: color.adjust($primary, $lightness: -10%);
      }
    }
  }
}
