@import '../../../styles/constants.scss';

.time-granularity-dropdown.dropdown {
  & button.dropdown-toggle {
    width: 5.5rem;
    border-radius: 8px;
    border-color: $border-color;
    background-color: transparent;
    &::after {
      display: none;
    }
    & .dropdown-toggle-text {
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      display: inline-flex;
    }
    &.btn:first-child:active,
    &.btn.show {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .dropdown-menu {
    .dropdown-item {
      &:hover {
        color: $primary;
      }
    }
  }
}

@include color-mode(dark) {
  .time-granularity-dropdown.dropdown {
    & button.dropdown-toggle {
      width: 5.5rem;
      border-radius: 8px;
      border-color: #121215;
      background-color: #303032;
      background-image: none;
      border-style: solid;
      box-shadow: none;
      &::after {
        display: none;
      }
      & .dropdown-toggle-text {
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        color: #b7bbc2;
        display: inline-flex;
      }
      &.btn:first-child:active,
      &.btn.show {
        border-color: #121215;
        box-shadow: none;
      }
    }

    .dropdown-menu {
      border-color: #121215;
      .dropdown-item {
        color: #b7bbc2;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
