@use '../../../styles/constants' as *;

.btc-transactions-tabs {
  border-bottom: 0.5px solid $border-color;
  padding: 0 2rem 0.25rem 0.25rem;
}

@include color-mode(dark) {
  .btc-transactions-tabs {
    border-bottom: 0.5px solid $border-color-dark;
  }
}
