@use '../../../styles/constants' as *;

.modal-content {
  & .modal-body {
    & .modal-box {
      box-shadow: 0px 8px 16px 0px rgba($dark, 0.2);
      border-radius: 0.5rem;
      border: 1px solid $primary;
    }

    & .message-type-box {
      background-color: $primary;
      border-top-left-radius: 0.35rem;
      border-bottom-left-radius: 0.35rem;
    }
  }
}
