@import '../../../styles/constants.scss';

.account-events-container {
  height: 85vh;
  max-height: 85vh;
}

.account-events-graph-container {
  height: 40vh;
  max-height: 40vh;
}

.account-events-table-container {
  height: 25vh;
  max-height: 25vh;
}
