@import '../../../styles/constants.scss';

.account-events-container {
  padding: 0 1rem;
  height: 80vh;
  max-height: 80vh;
}

.account-events-graph-container {
  height: 39vh;
  max-height: 39vh;
}

.account-events-table-container {
  height: 24vh;
  max-height: 24vh;
}
