@use '../../../styles/constants' as *;

.settings-menu.dropdown {
  & .dropdown-toggle.btn-settings-menu {
    margin-left: 0.5rem;
    padding: 1.25rem 1.375rem;
    &::after {
      display: none;
    }
  }
  & .dropdown-menu {
    & a.dropdown-item {
      &.active,
      &:active,
      &:focus,
      &:hover {
        color: $primary;
      }
    }
    & div.dropdown-item {
      color: $dark;
    }
  }
}

@include color-mode(light) {
  .settings-menu.dropdown {
    margin-left: 0.5rem;
    & .dropdown-toggle.btn-settings-menu {
      color: $white;
      & svg path {
        fill: $white;
      }
    }
    & > .dropdown-menu {
      border: none;
    }
  }
  .btn-compact {
    background-color: $primary;
    & svg > path {
      fill: $dark;
    }
  }
}

@include color-mode(dark) {
  .settings-menu.dropdown {
    & .dropdown-toggle.btn-settings-menu {
      color: $card-bg-dark;
      & svg path {
        fill: $card-bg-dark;
      }
    }
    & .dropdown-menu {
      & div.dropdown-item {
        color: $white;
      }
    }
  }
  .btn-compact {
    background-color: $primary;
    & svg > path {
      fill: $dark;
    }
  }
}
