@use '../../../styles/constants' as *;
@import 'bootstrap/scss/mixins';

.cln-offers-list {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 0.5rem;
  transition: all $transition-time ease;
  & .cln-offer-header {
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 0.5rem;
    border-radius: 0.675rem;
    padding: 0.5rem 1rem 0.5rem 0.125rem;
    transition: all $transition-time ease;
    &.expanded {
      border-bottom: 2px dashed rgba($light, 0.2);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:hover {
      background-color: $body-bg-light !important;
    }
  }
  & .cln-offer-details {
    transition: background-color $theme-transition ease;
    background-color: $body-bg-light;
    border-bottom-left-radius: 0.675rem;
    border-bottom-right-radius: 0.675rem;
  }
}

@include color-mode(dark) {
  .cln-offers-list {
    & .cln-offer-header {
      &:hover {
        background-color: $body-bg-dark !important;
      }
    }
    & .cln-offer-details {
      background-color: $body-bg-dark;
    }
  }
}
