@use 'sass:color';
@use '../../../styles/constants' as *;

.btc-transaction-placeholder {
  transform-origin: top left;
  & .btc-transaction-detail {
    align-items: center;
    margin: 0.5rem;
  }
  & .btc-transaction-copy {
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    cursor: pointer;
    &:hover {
      svg path {
        stroke: color.adjust($primary, $lightness: -10%);
      }
    }
  }
  & .btc-transaction-open {
    display: inline-flex;
    align-items: flex-start;
    padding: 0;
    cursor: pointer;
    &:hover {
      svg path {
        fill: color.adjust($primary, $lightness: -10%);
      }
    }
  }
}
