@import '../../../../styles/constants.scss';

.balance-sheet-tooltip {
  white-space: pre-line;
  position: absolute;
  visibility: hidden;
  background: $body-bg-light;
  padding: 5px;
  border: 1px solid;
  border-radius: $table-border-radius;
  pointer-events: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bar:hover {
  fill-opacity: 0.7;
}

@include color-mode(dark) {
  .balance-sheet-tooltip {
    background: $body-bg-dark;
  }
}
