@import '../../../styles/constants.scss';

.nav.cln-transactions-tabs {
  border: none;
  border-bottom: 0.5px solid $border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  & .nav-item .nav-link {
    padding: 0 1rem 0.25rem 0.25rem;
    color: $light;
    & span {
      padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    }
    &.active, &:hover, &:focus {
      background-color: transparent;
      & span {
        border-bottom: 2px solid $primary;
      }
    }
  }
}

@include color-mode(dark) {
  .nav.cln-transactions-tabs {
    border-bottom: 0.5px solid $border-color-dark;
    & .nav-item .nav-link {
      color: $light-dark;
    }
  }
}
